body{
	background: #F0EBFA;
}

a:link {
 color: red;
}

a:hover {
 color: #153C4E;
}

header{
	font-family: arial;
	font-size:15pt;
	color:#153C4E;
	text-align:center;
}
ul{
	color: #ffc223;
}
.img_principal{
	text-align:center;
}

.list{
	font-size:20pt;
	color:#153C4E;
	width:600px;
	height: 250px;
	margin:auto;	
}

.list_left{
	height: 250px;
	width: 300px;
	float: left;
	position: relative;
	text-align:center;


}
.list_right{
	height: 250px;
	width: 300px;
	float: left;
	position: relative;
}

footer{
	font-size:12pt;
	color:white;
	height: 25px;
	background: #ffc223;
	text-align:center;
	border: 0px;
	
}


