/*Este é o CSS do Site Design Digital*/
body{
	font-family: arial;
	color: #686868;
}

.site{
	width: 1680px;
	margin-left: auto;
	margin-right: auto;
}

.logo{
	width: 400px;
	padding-top: 30px;
}

header{
	text-align: left;
}

h1{
	font-size: 50px;
	color: #999999;
}

nav{
	font-size: 25px;
	width: 1510px;
    text-align: right;
    margin-top: 0px;

}

.menu{
	color: #999999;
	padding-left: 20px;

}

.img_principal{
    margin-left: auto;
    margin-right: auto;
    width: 1510px;
}

div{
	margin-top: 0px;
}

.header{
	width: 1680px;
	position: relative;

}

.construção_web{
	position: absolute;
	margin-top: -400px;
	margin-left: 20px !important;
	opacity: 0.8;
	width: 400px;
	height: 250px;
	padding-top: 5px;
	padding-left: 20px;
	color: #ffffff;
	background: #364848;
	margin-left: 0px;
}

article{
	display: inline-block;
	margin-right: 20px;
	margin-top: 40px;
}


.conteudo{

}
.conteudo_coluna{
	width: 380px;
	height: 500px;

}

h3{
	font-size: 20px;
}

h2{
	font-size: 30px;	
}

.depoimentos{
	color: #00ccff;
}


.mussum{
	width: 300px;
}

.foto-01{
	width: 300px;
}

.foto-02{
	width: 300px;
}

.foto-03{
	width: 300px;
}

.foto-04{
	width: 300px;
}